
/* Main styles */
*:before,
*:after,
* {
    box-sizing: border-box;
}
html, 
body {
    width: 100%;
    min-height: 100%;
	height: auto;
}
body {
	width: 100%;
	position: relative;
	font-family: $Roboto;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	font-style: normal;
	color: #000000;
	background: #ffffff;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-height: 100%;

	&.is-overflow {
		overflow: hidden;
	}
}

#wrapper {
}
.wrapper {
}
.container {
	// position: relative;
	// width: 100%;
	// max-width: 1500px;
	// padding: 0;
	// margin: 0 auto;
}

a {
	color: $ColorLink;
	text-decoration: none;
	transition: $TransitionLink;
	position: relative;

	&:hover,
	&:focus {
		color: inherit;
		text-decoration: none;
	}
	&:active,
	.no-touchevents &:hover {
		color: $ColorLinkHover;
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}
}


h1 {
	font-size: 28px;
	line-height: 34px;
	margin: 0 0 25px 0;
	color: #000000;
	font-weight: 400;
	font-family: $Roboto;
}
h2 {
	font-size: 22px;
	line-height: 30px;
	margin: 0 0 15px 0;
	color: #000000;
	font-weight: 400;
	font-family: $Roboto;
}
h3 {
	font-size: 16px;
	line-height: 26px;
	margin: 0 0 15px 0;
	color: #000000;
	font-weight: 400;
	font-family: $Roboto;
}

small {
	color: #929292;
	font-size: 12px;
	line-height: 18px;
}

hr {
	width: 100%;
	float: left;
	margin: 15px 0;
	display: block;
	clear: both;
	border: none;
	height: 1px;
	background: #e2e2e2;
}

blockquote {
	color: #686868;
	font-size: 14px;
	line-height: 24px;
	padding: 0 0 0 15px;
	margin: 15px 0 15px 15px;
	border-left: 2px solid $ColorRed;
	clear: both;
}

ol,
ul {
	margin: 15px 0 30px 0;
	padding: 0 0 0 25px;
	list-style: none;

	li {
		margin: 8px 0;
		position: relative;
	}
}
ol {
	counter-reset: li;
	list-style: none;

	li {
		counter-increment: li;

		&:before {
			content: counter(li);
			display: block;
			position: absolute;
			left: -20px;
			color: $ColorRed;
		}
	}
}
ul {
	li {
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: -20px;
			top: 8px;
			border-radius: 100%;
			width: 5px;
			height: 5px;
			background: $ColorRed;
		}
	}
}


.contain,
.cover {
	position: relative;
	background: #f4f4f4;
	
	&:after {
		position: absolute;
		content: '';
		background: url('../img/loader.svg') center no-repeat;
		background-size: 50px 50px;
		display: block;
		left: 50%;
		top: 50%;
		margin: -10px 0 0 -10px;
		width: 20px;
		height: 20px;
		text-align: center;
		color: #000000;
		animation: rotate 1.5s linear infinite;
		transform-origin: 50%;
	}
	&.is-loaded:after {
		display: none;
	}

	&>img,
	&>img {
		display: none;
	}
}

// .is-loading {
// 	&:after {
// 		position: absolute;
// 		content: '\f110';
// 		font-family: $fontawesome;
// 		font-size: 20px;
// 		line-height: 20px;
// 		display: block;
// 		left: 50%;
// 		top: 50%;
// 		margin: -10px 0 0 -10px;
// 		width: 20px;
// 		height: 20px;
// 		opacity: 0.7;
// 		text-align: center;
// 		color: #171717;
// 		animation: rotate 1.5s linear infinite;
// 		transform-origin: 50%;
// 	}
// }

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/**************************************************************************
Misc styles
/**************************************************************************/
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


.swiper-pagination {
	text-align: right;
	padding: 0 10px;
	bottom: 10px;
	margin: 0;
}
.swiper-pagination-bullet {
	border-radius: 100%;
	width: 10px;
	height: 10px;
	background: #ffffff;
	opacity: 0.5;
	margin: 0;
	display: inline-block;
	transition: $TransitionLink;
}
.swiper-pagination-bullet-active {
	opacity: 1;
}

.body {
	padding-top: 20px;
}
.content {
	width: 100%;
	float: left;
	padding-bottom: 20px;
}
/**************************************************************************
END Misc styles
/**************************************************************************/


/**************************************************************************
Header
/**************************************************************************/
.header {
	background: #ffffff;
	position: relative;
}
.header__btn-menu {
	display: inline-block;
	font-size: 32px;
	line-height: 32px;
	cursor: pointer;
	color: #2073b2;
	position: relative;
	z-index: 100;

	@include media-breakpoint-up(md) {
		display: none;
	}
}
.header__top {
	padding: 10px 0;
	position: relative;

	.col {
		display: flex;
		align-items: center;
	}

	.header__btn-menu {
		margin-right: 20px;
	}

	@include media-breakpoint-up(sm) {
		.row {
			height: 80px;
		}
		.col:last-child {
			justify-content: flex-end;
		}
	}
	@include media-breakpoint-up(md) {
		.row {
			height: 105px;
		}
	}
}
.header__phone {
	margin-top: 15px;
	font-size: 24px;
	display: inline-block;

	a {
		color: #000000;
	}

	@include media-breakpoint-up(sm) {
		margin: 0;
	}
}
.header__bottom {
	background: #f4f4f4;
	padding: 14px 0;
}
.header__menu_container {
	.header__btn-menu {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	
	@include media-breakpoint-down(sm) {
		position: fixed;
		left: -100%;
		top: 0;
		opacity: 0;
		width: 100%;
		height: 100vh;
		overflow-y: auto;
		z-index: 1000;
		transition: left 0.3s ease-in-out, opacity 0.2s linear;
		
		.container {
			background: #f4f4f4;
			visibility: hidden;

			&:before {
				position: absolute;
				content: '';
				background: #f4f4f4;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
		}
		&.is-active {
			left: 0;
			opacity: 1;
			visibility: visible;

			.container {
				visibility: visible;
			}
		}
	}
	@include media-breakpoint-up(sm) {
		.header__btn-menu {
			margin-top: 34px;
		}
	}
	@include media-breakpoint-up(md) {
		transition: none;
		position: relative;
		left: 0;

		.container {
			padding: 0;
		}
	}
}
.header__menu {
}
.header__menu__link {
	font-size: 17px;
	line-height: 22px;
	color: #333333;
	display: block;
	margin: 10px 0;
	transition: color 0.1s linear;
	
	@include media-breakpoint-down(sm) {
		visibility: hidden;

		.is-active & {
			visibility: visible;
		}
	}
	@include media-breakpoint-up(md) {
		margin: 0 17px 0 0;
		height: 40px;
		display: flex;
		align-items: center;
		float: left;
	}

	&:first-child {
		margin-left: 0;
	}
}

.header__search {
	float: right;
	width: 100%;
}
/**************************************************************************
END Header
/**************************************************************************/


/**************************************************************************
Slideshow
/**************************************************************************/
.main_slideshow {
	background: #f4f4f4;

	.row {
		padding: 0;
		left: 0;
		margin: 0;
	}
	.swiper-navigation {
		z-index: 500;
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 15px;
	}
	.swiper-prev,
	.swiper-next {
		display: block;
		float: left;
		position: relative;
		top: 0;
		left: 0;
		background: $ColorBlue;
		color: #ffffff;
		width: 30px;
		height: 26px;
		line-height: 28px;
		text-align: center;
		cursor: pointer;
		transition: $TransitionLink;

		&:focus {
			outline: none;
		}
		&:active,
		.no-touchevents &:hover {
			background: $ColorBlueLight;
		}

		&.swiper-button-disabled:active,
		.no-touchevents &.swiper-button-disabled:hover,
		&.swiper-button-disabled {
			opacity: 0.7;
			background: $ColorBlue;
			outline: none;
		}
	}

	@include media-breakpoint-down(xs) {
		.container {
			padding: 0;
		}
	}
	@include media-breakpoint-up(sm) {
		margin-bottom: 20px;

		.swiper-container {
			border-radius: 5px;
			overflow: hidden;
		}
		.container {
			margin-top: -20px;
			position: relative;
			top: 20px;
		}
	}
	@include media-breakpoint-up(lg) {
		margin-bottom: 50px;

		.container {
			margin-top: -40px;
			position: relative;
			top: 40px;
		}
	}
}
.main_slideshow__item {
	position: relative;
	float: left;
	width: 100%;

	.col {
		padding: 0;
		margin: 0;
	}

	@include media-breakpoint-up(sm) {
		border-radius: 5px;
		overflow: hidden;
	}
}
.main_slideshow__item__content {
	width: 100%;
	float: left;
	padding: 20px;
	background: $ColorBlue;
	color: #ffffff;
	position: relative;

	@include media-breakpoint-up(md) {
		padding: 25px;
		min-height: 260px;
		padding-bottom: 90px;
	}
	@include media-breakpoint-up(lg) {
		padding: 25px;
		min-height: 300px;
		padding-bottom: 90px;
	}
}
.main_slideshow__item__image {
	width: 100%;
	float: left;
	@include aspect-ratio(16,9);

	@include media-breakpoint-up(md) {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0;
		height: 100%;
	}
}
.main_slideshow__item__title {
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
	display: block;

	&:active,
	.no-touchevents &:hover {
		color: #ffffff;
	}

	@include media-breakpoint-up(lg) {
		font-size: 22px;
		line-height: 28px;
	}
}
.main_slideshow__item__date {
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 5px;

	span {
		opacity: 0.5;
	}
	i {
		margin-right: 5px;
		font-size: 12px;
	}
}
.main_slideshow__item__info {
	display: block;
	width: 100%;
	float: left;

	@include media-breakpoint-up(md) {
		position: absolute;
		bottom: 25px;
		left: 25px;
	}
}
.main_slideshow__item__category {
	display: block;
	text-transform: uppercase;
	background: #ffffff;
	border-radius: 3px;
	font-weight: 500;
	font-size: 12px;
	padding: 3px 10px;
	margin-right: 10px;
	float: left;
}
/**************************************************************************
END Slideshow
/**************************************************************************/


/**************************************************************************
About block
/**************************************************************************/
.article_block {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.article_block__link {
	color: #000000;
	text-decoration: none;

	h2 {
		transition: $TransitionLink;
	}

	&:active,
	.no-touchevents &:hover {
		color: $ColorBlueLight;

		h2 {
			color: $ColorBlueLight;
		}
	}
}
.article_block__content {
	border-radius: 5px;
	background: #ec9d13;
	padding: 15px 30px;
	color: #ffffff;
	font-size: 17px;
	line-height: 24px;
}
/**************************************************************************
END About block
/**************************************************************************/


/**************************************************************************
News
/**************************************************************************/
.news__item {
	width: 100%;
	float: left;
	margin-bottom: 30px;
	color: #000000;
}
.news__item__image_container {
	@include media-breakpoint-up(md) {
		width: 120px;
		float: left;
	}
}
.news__item__image {
	@include aspect-ratio(16,9);
	border-radius: 5px;
}
.news__item__date {
	color: #808080;
	margin-top: 8px;

	@include media-breakpoint-up(md) {
		width: auto;
		float: none;
		margin: 0 0 0 140px;
	}
}
.news__item__title {
	margin-top: 5px;
	font-size: 17px;
	line-height: 24px;

	@include media-breakpoint-up(md) {
		width: auto;
		float: none;
		margin-left: 140px;
	}
}
/**************************************************************************
END News
/**************************************************************************/


/**************************************************************************
Footer
/**************************************************************************/
.footer {
	margin: auto auto 0 auto;
	background: #191919;
	padding: 20px 0;
	width: 100%;
	float: left;

	@include media-breakpoint-up(md) {
		.footer__logo {
			display: flex;
			align-items: center;
			height: 200px;
		}
	}
}
/**************************************************************************
END Footer
/**************************************************************************/



