// LAYOUT
$MobileMax: 767;
$Tablet: 768;
$TabletMax: 991;
$Desktop: 992;
$DesktopMax: 1199;
$Wide: 1200;
$WideMax: 1499;
$Hd: 1500;

// FONTS
$Roboto: Roboto, Arial, Helvetica, sans-serif;
$Fontawesome: FontAwesome;

// COLORS
$FontColor: #000000;
$ColorBlue: #2073b2;
$ColorBlueLight: #00acdd;
$ColorGreen: #4ab68f;
$ColorRed: #ed2124;
$ColorYellow: #fda737;
$ColorOrange: #f46d36;

$ColorLink: $ColorBlue;
$ColorLinkHover: $ColorBlueLight;

$GrayColor: #999;
$BorderColor: #e8e8e8;

// OPTIONS
$TransitionSpeed: .25s;
$Ease: ease-in-out;
$TransitionLink: all 0.1s linear;
$TransitionObject: all 0.3s ease-in-out;

// SOCIALS
$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #1ab7ea;
$tumblr: #32506d;
$instagram: #bc2a8d;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5B9A68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #EB4823;
$yahoo: #7B0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;
