@@include('_componenets/page-header.html')


<body role="page">
<div id="wrapper">
	@@include('_componenets/header.html')
	

	<div class="main_slideshow">
		<div class="container">
			<div class="swiper-container js-slider">
			    <div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="row main_slideshow__item">
							<div class="col col-12 col-md-6 col-lg-4">
								<div class="main_slideshow__item__content">
									<a href="#" class="main_slideshow__item__title">Туристический сервис рассказал об особенностях отдыха российских мужчин</a>

									<div class="main_slideshow__item__info">
										<div class="main_slideshow__item__date"><i class="far fa-clock"></i><span>21 Сентября, 2020</span></div>
										<a href="#" class="main_slideshow__item__category">новости</a>
									</div>
								</div>
							</div>

							<div class="col col-12 col-md-6 col-lg-8">
								<div class="main_slideshow__item__image cover"><img src="img/ps_img/slideshow-1.jpg"></div>
							</div>
						</div>
					</div>
						
					<div class="swiper-slide">
						<div class="row main_slideshow__item">
							<div class="col col-12 col-md-6 col-lg-4">
								<div class="main_slideshow__item__content">
									<a href="#" class="main_slideshow__item__title">В Мьянме запретят забираться на древние памятники из-за некультурных туристов</a>

									<div class="main_slideshow__item__info">
										<div class="main_slideshow__item__date"><i class="far fa-clock"></i><span>19 декабря, 2016</span></div>
										<a href="#" class="main_slideshow__item__category">спорт</a>
									</div>
								</div>
							</div>

							<div class="col col-12 col-md-6 col-lg-8">
								<div class="main_slideshow__item__image cover"><img src="img/ps_img/slideshow-2.jpg"></div>
							</div>
						</div>
					</div>
				
					<div class="swiper-slide">
						<div class="row main_slideshow__item">
							<div class="col col-12 col-md-6 col-lg-4">
								<div class="main_slideshow__item__content">
									<a href="#" class="main_slideshow__item__title">Впечатления девушки, путешествующей по Сирии автостопом</a>

									<div class="main_slideshow__item__info">
										<div class="main_slideshow__item__date"><i class="far fa-clock"></i><span>3 августа, 2016</span></div>
										<a href="#" class="main_slideshow__item__category">статья</a>
									</div>
								</div>
							</div>

							<div class="col col-12 col-md-6 col-lg-8">
								<div class="main_slideshow__item__image cover"><img src="img/ps_img/slideshow-3.jpg"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="swiper-navigation">
					<div class="swiper-prev"><i class="fas fa-caret-left"></i></div>
					<div class="swiper-next"><i class="fas fa-caret-right"></i></div>
				</div>
			</div>
		</div>
	</div>


	<div class="body">
		<div class="container">
			<div class="row">
				<div class="col col-12 col-lg-4">
					<div class="article_block">
						<a href="#" class="article_block__link"><h2>О нас</h2></a>

						<div class="article_block__content">
							<p>Отмечается, что туристы могли выбирать любой из 20 аэропортов, в которые летает авиакомпания. Другим условием стало то, что они должны были достигнуть согласия до того, как самолет приземлится в Финиксе.</p>
						</div>
					</div>
				</div>


				<div class="col col-12 col-lg-8">
					<main class="content" role="main">
						<div class="news">
							<h2>Новости</h2>

							<div class="news__list">
								<a href="#" class="news__item">
									<div class="news__item__image_container">
										<div class="news__item__image cover">
											<img src="img/ps_img/news-1.jpg">
										</div>
									</div>

									<div class="news__item__date">28 декабря, 2018</div>
									<div class="news__item__title">Реакция босса на милую объяснительную сотрудницы растрогало пользователей сети</div>
								</a>

								<a href="#" class="news__item">
									<div class="news__item__image_container"><div class="news__item__image cover"><img src="img/ps_img/news-2.jpg"></div></div>

									<div class="news__item__date">12 марта, 2018</div>
									<div class="news__item__title">Сотрудница фирмы по имени Дженн, которая за несколько лет работы ни разу не опаздывала</div>
								</a>

								<a href="#" class="news__item">
									<div class="news__item__image_container"><div class="news__item__image cover"><img src="img/ps_img/news-3.jpg"></div></div>

									<div class="news__item__date">6 января, 2018</div>
									<div class="news__item__title">Oбъяснительная показалась боссу настолько милой, что он решил премировать работницу и выложить переписку с подчиненной </div>
								</a>
							</div>
						</div>
					</main>
				</div>
			</div>
		</div>
	</div>
</div>


@@include('_componenets/footer.html')
</body>


@@include('_componenets/page-footer.html')