{
  'functions': true
}

$sprite: (
  {{#items}}
  {{name}}: (
    offset-x: {{px.offset_x}},
    offset-y: {{px.offset_y}},
    width: {{px.width}},
    height: {{px.height}},
    total-width: {{px.total_width}},
    total-height: {{px.total_height}},
    image: '{{{escaped_image}}}'
  ),
  {{/items}}
);

{{#options.functions}}

@mixin sprite-size($image) {
  background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
  width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
  height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
  background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
  background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
  $image-path: map-get(map-get($sprite, $image), 'image');
  background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
  &:before {
    content: '';
    display: inline-block;
    @include sprite-image($image);
    @include sprite-position($image);
    background-repeat: no-repeat;

    @if $size {
      @include sprite-width($image);
      @include sprite-height($image);
    }
  }
}

{{/options.functions}}


{{#items}}
.{{name}} {
  @include sprite({{name}})
}
{{/items}}
