<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="row">
				<div class="col col-12 col-sm-6">
					<div class="header__btn-menu"><i class="fas fa-bars"></i></div>
					
					<a href="#" class="header__logo"><img src="img/logo.png"></a>
				</div>

				<div class="col col-12 col-sm-6">
					<div class="header__phone"><a href="tel:+3806898990">+380 689 89 90</a></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="header__bottom">
		<div class="container">
			<div class="row">
				<div class="col col-12 col-lg-8">
					<div class="header__menu_container">
						<div class="container">
							<div class="header__btn-menu"><i class="fas fa-times"></i></div>

							<nav class="header__menu">
								<a href="#" class="header__menu__link"><span>Главная</span></a>
								<a href="#" class="header__menu__link"><span>О нас</span></a>
								<a href="#" class="header__menu__link"><span>Услуги</span></a>
								<a href="#" class="header__menu__link"><span>Портфолио</span></a>
								<a href="#" class="header__menu__link"><span>Контакты</span></a>
							</nav>
						</div>
					</div>
				</div>
				
				<div class="col col-12 col-lg-4">
					<div class="header__search">
						<form action="" method="post">
							<input type="search" name="search" class="header__search__input" placeholder="Поиск">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>