$sprite: (
  icon-1c: (
    offset-x: -44px,
    offset-y: 0px,
    width: 46px,
    height: 26px,
    total-width: 90px,
    total-height: 87px,
    image: '../img/sprite.png'
  ),
  icon-achievement: (
    offset-x: 0px,
    offset-y: 0px,
    width: 44px,
    height: 42px,
    total-width: 90px,
    total-height: 87px,
    image: '../img/sprite.png'
  ),
  icon-calendar-grey: (
    offset-x: -30px,
    offset-y: -42px,
    width: 21px,
    height: 21px,
    total-width: 90px,
    total-height: 87px,
    image: '../img/sprite.png'
  ),
  icon-calendar-red: (
    offset-x: -51px,
    offset-y: -42px,
    width: 21px,
    height: 21px,
    total-width: 90px,
    total-height: 87px,
    image: '../img/sprite.png'
  ),
  icon-gismeteo: (
    offset-x: 0px,
    offset-y: -42px,
    width: 30px,
    height: 21px,
    total-width: 90px,
    total-height: 87px,
    image: '../img/sprite.png'
  ),
  icon-support: (
    offset-x: 0px,
    offset-y: -63px,
    width: 26px,
    height: 24px,
    total-width: 90px,
    total-height: 87px,
    image: '../img/sprite.png'
  ),
);


@mixin sprite-size($image) {
  background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
  width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
  height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
  background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
  background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
  $image-path: map-get(map-get($sprite, $image), 'image');
  background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
  &:before {
    content: '';
    display: inline-block;
    @include sprite-image($image);
    @include sprite-position($image);
    background-repeat: no-repeat;

    @if $size {
      @include sprite-width($image);
      @include sprite-height($image);
    }
  }
}



.icon-1c {
  @include sprite(icon-1c)
}
.icon-achievement {
  @include sprite(icon-achievement)
}
.icon-calendar-grey {
  @include sprite(icon-calendar-grey)
}
.icon-calendar-red {
  @include sprite(icon-calendar-red)
}
.icon-gismeteo {
  @include sprite(icon-gismeteo)
}
.icon-support {
  @include sprite(icon-support)
}
