.ico-airplane {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-arrow-right-2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-arrow-right {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-birth {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.ico-calendar {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-comment {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.ico-eye {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-genre {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-gift {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-learning {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-light-bulb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-like-o {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-like {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-logout {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mail {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-microphone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-office {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-phone {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.ico-play {
  width: 1em;
  height: 1em;
  fill: #030104;
}
.ico-rating {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-select-down {
  width: 1em;
  height: 1em;
  fill: initial;
}